<div class="banner">
  Edit Profile
</div>
<div class="edit-box">

  <%= form_for @user do |f| %>

    <%= f.label :dog_name, "Dog's Name" %>
    <br>
    <%= f.text_field :dog_name %>
    <br><br>
    <%= f.label :image_url %>
    <p>Upload your photo to imgur.com and use the Direct Link url. Bark Zuckerberg
      says: "We do better with portait than landscape right now. That's all I know."
    </p>
    <%= f.text_field :image_url, size: 50 %>
    <br><br>
    <%= f.label :college_id, "College" %>
    <br>
    <%= f.collection_select(:college_id, College.all, :id, :name) %>
    <br><br>
    <%= f.label :breed %>
    <br>
    <%= f.text_field :breed %>
    <br><br>
    <%= f.label :interests %>
    <br>
    <%= f.text_area :interests, size: "50x20" %>
    <br>
    <%= f.submit "Save Profile" %>

  <% end %>

</div>
