<div class="banner"><%= @user.dog_name || "New User" %>'s profile | <%= @user.college.try(:name) %></div>

<div class="picture">
  <div class="banner">
    <p>
      Picture
    </p>
  </div>
  <%= image_tag @user.image_url, size: "240x320", class: "profile-picture" %>
</div>

<div class="information">
  <div class="banner">
    <p>
      Information
    </p>
  </div>
    <p>
      Name: <%= @user.dog_name %>
    </p>
    <p>
      Breed: <%= @user.breed %>
    </p>
    <p>
      Interests: <%= @user.interests %>
    </p>
    <p>
      Human: <%= @user.name %>
    </p>
</div>

<div class="connection">
  <div class="banner">
    <p>
      Connection
    </p>
  </div>
  <% if current_user == @user %>
  <p>
    This is you.
  </p>
  <% elsif @user.all_friends.include?(current_user) %>
  <p>
    You are friends with <%= @user.dog_name %>.
  </p>
  <% else %>
  <%= form_for [current_user, Request.new] do |f| %>
  <%= f.hidden_field :recipient_id, value: @user.id %>
  <%= f.submit "Send Friend Request" %>
  <% end %>
  <% end %>
</div>

<div class="wall">
  <div class="banner">
     <p>
       <%= @user.dog_name %>'s Wall
     </p>
   </div>
   <%= @history.try(:body) %>
   <p>
     <%= link_to "Write on the wall!", new_user_history_path(@user) %> |
     <%= link_to "(See Wall History)", user_histories_path(@user) %>
   </p>
</div>

<div class="friends">
  <div class="banner">
    <p>
      Friends
    </p>
  </div>
  <% if @user.all_friends.any? %>
    <% @user.all_friends.each do |friend| %>
      <div class="friend-item">
        <p>
          <%= image_tag friend.image_url, size: "100x100" %>
        </p>
        <p class="name-label">
          <%= link_to friend.dog_name, friend %>
        </p>
      </div>
    <% end %>
  <% else %>
    <p>
      No friends yet!
    </p>
  <% end %>
</div>
