<div>
  <div class="banner">
    <p>
      Friend Requests
    </p>
  </div>

  <% @requests.each do |request| %>
    <p>
      <%= image_tag request.requester.image_url, size: "120x160" %>
      <%= link_to request.requester.dog_name, request.requester %>
      <%= form_for [@user, @friendship] do |f| %>
        <%= f.hidden_field :friend_id, value: request.requester.id %>
        <%= f.submit "Accept" %>
      <% end %>

      <%= form_for [@user, request] do |f| %>
        <%= f.hidden_field :status, value: "rejected" %>
        <%= f.submit "No Thanks!" %>
      <% end %>
    </p>
  <% end %>

</div>
