<aside id="left-panel">
  <% if current_user  %>
    <p><%= link_to "My Profile", current_user %> <%= link_to "[ edit ]", edit_user_path(current_user) %></p>
    <p><%= link_to "Friend Requests (#{current_user.received_requests.where(status: "sent").count})",
     user_requests_path(current_user) %></p>
    <p><%= link_to "All Dogs", users_path %></p>
  <% end %>
  <div id="user-widget">
    <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>
  </div>
</aside>
